[submodule "Shadow/vendor/spdlog"]
	path = Shadow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shadow/vendor/glfw"]
	path = Shadow/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Shadow/vendor/glm"]
	path = Shadow/vendor/glm
	url = https://github.com/icaven/glm
[submodule "Shadow/vendor/imgui"]
	path = Shadow/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Shadow/vendor/yaml-cpp"]
	path = Shadow/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Shadow/vendor/ImGuizmo"]
	path = Shadow/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Shadow/vendor/msdf-atlas-gen"]
	path = Shadow/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "Shadow/vendor/Box2D"]
	path = Shadow/vendor/Box2D
	url = https://github.com/erincatto/box2d
